In [1]:
import pandas as pd

In [5]:
#Carga de CSVs
train_df = pd.read_csv("../Datasets/E-Commerce_train.csv",sep=';',encoding='UTF-8')
test_df = pd.read_csv("../Datasets/E-Commerce_test.csv",sep=';',encoding='UTF-8')

#train_df.sample(3)
#test_df.sample(3)

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
2473,2474,F,Flight,5,1,241,4,medium,F,19,2193,1
1456,1457,C,Ship,3,5,156,3,medium,M,44,1424,1
3669,3670,B,Ship,3,3,198,2,low,M,8,4620,1